###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
charset = utf-8
indent_style = space
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

##########################################
# File Extension Settings
##########################################

# Visual Studio Solution Files
[*.sln]
indent_style = tab

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON Files
[*.{json,json5,webmanifest}]
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# Markdown Files
[*.{md,mdx}]
trim_trailing_whitespace = false

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4

# XAML files
[*.xaml]
indent_size = 4

##########################################
# Default .NET Code Style Severities
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-options#scope
##########################################

[*.{cs,csx,cake,vb,vbx}]
# Default Severity for all .NET Code Style rules below
dotnet_analyzer_diagnostic.severity = warning

###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true
# this. preferences
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_readonly_field = true:suggestion
# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:silent
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
###############################
# Naming Conventions          #
###############################
# Style Definitions
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
# Use PascalCase for constant fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities = *
dotnet_naming_symbols.constant_fields.required_modifiers = const
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_allow_multiple_blank_lines_experimental = true:silent
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_code_quality_unused_parameters = all:suggestion
dotnet_diagnostic.CA2245.severity = warning
###############################
# C# Coding Conventions       #
###############################
[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent
# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
# Modifier preferences
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:suggestion
# Expression-level preferences
csharp_prefer_braces = true:silent
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_prefer_static_local_function = true:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_prefer_parameter_null_checking = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = warning

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = warning

# SA1609: Property documentation should have value
dotnet_diagnostic.SA1609.severity = warning

# SA1610: Property documentation should have value text
dotnet_diagnostic.SA1610.severity = warning

# SA1608: Element documentation should not have default summary
dotnet_diagnostic.SA1608.severity = warning

# SA1607: Partial element documentation should have summary text
dotnet_diagnostic.SA1607.severity = warning

# SA1605: Partial element documentation should have summary
dotnet_diagnostic.SA1605.severity = warning

# SA1604: Element documentation should have summary
dotnet_diagnostic.SA1604.severity = warning

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = warning

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = warning

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = warning

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = warning

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = warning

# SA1612: Element parameter documentation should match element parameters
dotnet_diagnostic.SA1612.severity = warning

# SA1613: Element parameter documentation should declare parameter name
dotnet_diagnostic.SA1613.severity = warning

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = warning

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = warning

# SA1627: Documentation text should not be empty
dotnet_diagnostic.SA1627.severity = warning

# SA1618: Generic type parameters should be documented
dotnet_diagnostic.SA1618.severity = warning

# SA1619: Generic type parameters should be documented partial class
dotnet_diagnostic.SA1619.severity = warning

# SA1620: Generic type parameter documentation should match type parameters
dotnet_diagnostic.SA1620.severity = warning

# SA1621: Generic type parameter documentation should declare parameter name
dotnet_diagnostic.SA1621.severity = warning

# SA1622: Generic type parameter documentation should have text
dotnet_diagnostic.SA1622.severity = warning

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = warning

# SA1624: Property summary documentation should omit accessor with restricted access
dotnet_diagnostic.SA1624.severity = warning

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = warning

# SA1626: Single-line comments should not use documentation style slashes
dotnet_diagnostic.SA1626.severity = warning

# SA1617: Void return value should not be documented
dotnet_diagnostic.SA1617.severity = warning

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = silent

# SA1651: Do not use placeholder elements
dotnet_diagnostic.SA1651.severity = silent

# SA1606: Element documentation should have summary text
dotnet_diagnostic.SA1606.severity = warning

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1634: File header should show copyright
dotnet_diagnostic.SA1634.severity = silent

# SA1635: File header should have copyright text
dotnet_diagnostic.SA1635.severity = silent

# SA1636: File header copyright text should match
dotnet_diagnostic.SA1636.severity = silent

# SA1638: File header file name documentation should match file name
dotnet_diagnostic.SA1638.severity = silent

# SA1639: File header should have summary
dotnet_diagnostic.SA1639.severity = silent

# SA1640: File header should have valid company text
dotnet_diagnostic.SA1640.severity = silent

# SA1641: File header company name text should match
dotnet_diagnostic.SA1641.severity = silent

# SA1643: Destructor summary documentation should begin with standard text
dotnet_diagnostic.SA1643.severity = warning

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# SA1648: inheritdoc should be used with inheriting class
dotnet_diagnostic.SA1648.severity = warning

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = warning

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# SA1015: Closing generic brackets should be spaced correctly
dotnet_diagnostic.SA1015.severity = warning

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1637.severity = silent
dotnet_diagnostic.SA1403.severity = warning
dotnet_diagnostic.SA1404.severity = silent
dotnet_diagnostic.SA1208.severity = silent
dotnet_diagnostic.SA1100.severity = silent
dotnet_diagnostic.SA1127.severity = silent
dotnet_diagnostic.SA1128.severity = silent
dotnet_diagnostic.SA1133.severity = silent
dotnet_diagnostic.SA1413.severity = silent
